
.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    color:antiquewhite;
    /* margin-left: 6rem; */
    font-size: 1.2rem;
    flex-direction: column;
    margin-bottom: 7rem;
    width: 100%;
}

.skill .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#headline {
    width: 22rem;
}
#headline span {
    width: 18rem;
}

.skill-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .skills-grid {
width: 25vw;
    
} */
.skills-grid, .title-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.skills-grid div, .title-grid div {
cursor: pointer;
}

.img-skills {
    color: var(--primary-color);
    font-size: 2vw;
}

.skills-grid div {
    display: flex;
    column-gap: 1rem;
}

.skills-grid #headline {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 1024px) {
    .skills-content {
        margin-left: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .extend {
        min-width: 6.7rem;
    }
    .skill-wrapper {
    flex-direction: column;
    text-align: center;
    }
    
    #dev-skill {
        margin-bottom: 5rem;
    }
    #headline {
        width: 17rem;
    }
    #headline span {
        width: 9rem;
    }
}




