.display-contact {
    display: flex;
    justify-content: space-between;


}

.contact{
    margin-left: 10rem;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    background-color: var(--body-bg);
    padding-right: 0.8rem;
    margin-left: 1rem;
    border-radius: 10px;
}

.input-container {
    padding-left: 1vw ;
    padding-right: 1vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.styled-input {
    float: left;
    /* width: 293px; */
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}


.styled-input label {
    color: #999;
    /* padding: 1.3rem 30px 1rem 30px; */
    padding-left: 1rem;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    /* width: 293px; */
    max-width: 100%;
}

input,
textarea {
    padding: 17px 50px;
    border: 0;
    /* width: 100%; */
    font-size: 1rem;
    background-color:  var(--body-bg);
    border: 2px solid ;
    border-color:  var(--testimonial-bg);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 8rem;
}

.input-container {
    /* width: 650px; */
    max-width: 100%;
    /* margin: 20px auto 25px auto; */
}
.row {
    text-align: center;
    margin-bottom: 2rem;
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-right: 12rem;
}
.submit-btn2 {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 2s ease;
    margin-right: 12rem;
}

.wpp-cursor {
    cursor: pointer;
}

.wpp-cursor :hover {
    color: black;
}
.submit-btn:hover {
    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}


input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 10vw;
}

.wpp,.mail {
color:antiquewhite;
padding: 35px 55px;
background-color: var(--testimonial-bg);
margin-bottom: 3rem;
border-radius: 10px;
text-align: center;
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}
@media (max-width: 1024px) {
    .display-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    
    }
    .wpp, .mail {
        color:rgb(20, 14, 6);
        padding: 35px 55px;
        background-color: var(--testimonial-bg);
        margin-bottom: 3rem;
        border-radius: 10px;
        margin-top: 5rem;
        margin-left: 10rem;
        }
        input,
        textarea {
            padding: 17px 60px;
        }
        .contact{
            margin-left: 8rem;
        }
}
